#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
     transform: rotate(0deg);
  }
  to  {
        transform: rotate(360deg);
      }
}

@media     (prefers-reduced-motion: no-preference) {
              a:nth-of-type(2) .logo {
                 animation: logo-spin infinite 20s linear;
                                }
                                              }
.card   {
         padding: 2em;
        }
       .read-the-docs {
       color: #888;
  }


  /* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  color: #3dff16dc;
  background:
    linear-gradient(currentColor 0 0) 100%  0,
    linear-gradient(currentColor 0 0) 0  100%;
  background-size: 50.1% 50.1%;
  background-repeat: no-repeat;
  animation:  l7-0 1s infinite steps(1);
}
.loader::before,
.loader::after {
  content:"";
  position: absolute;
  inset: 0 50% 50% 0;
  background: currentColor;
  transform: scale(var(--s,1)) perspective(150px) rotateY(0deg);
  transform-origin: bottom right; 
  animation: l7-1 .5s infinite linear alternate;
}
.loader::after {
  --s:-1,-1;
}
@keyframes l7-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l7-1 {
  49.99% {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0)}
  50%    {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0.8)}
  100%   {transform:scale(var(--s,1)) perspective(150px) rotateX(-180deg);filter:grayscale(0.8)}
}